<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Dark horse</title>
</head>

<body>
    <div class="container" style="max-width: 380px;">
        <div class=" d-flex flex-column justify-content-center mt-5">
            <% dayList.map((day, idx) => { %>
                <div class="w-100 mb-4 bg-light d-flex justify-content-center align-items-center"
                style="height: 100px;" onclick="chooseDay(<%=idx%>)">
                <h3 class="m-0">
                    <%=day%>
                </h3>
            </div>    
            <% }); %>
        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        function chooseDay(day) {
            //배포 시 origin 재설정 필요
            window.location.href = `http://localhost:8080/choose/${day}`;
        }
    </script>
</body>

</html>