<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Dark horse</title>
</head>

<body>
    <div class="container d-flex flex-column justify-content-center" style="max-width: 380px;">        
        
    </div>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>